@import "./settings";
@import "./common";

.container {
    width: var(--guide-width);
    position: fixed;
    bottom: 10px;
    right: 10px;
    box-shadow: var(--ui-box-shadow);
}

.title {
    @extend oekaki-ui-title
}

.header {
    padding: 2px 5px;
    display: flex;
    background-color: #535353;
}

.alpha {
    font-size: 11px;
    text-align: right;
    color: #fff;
    flex-grow: 1;
}