@import "./settings";

.opetation {
  background-color: #535353;
  text-align: right;
}
.item {
  margin-right: 5px;
  color: var(--icon-color);
  cursor: pointer;
  font-size: 20px;
  display: inline-block;
  text-align: center;
  padding: 5px;
  &:last-child {
    margin-right: 0;
  }

  &:hover {
   background-color: rgba(255, 255, 255, 0.2);
 }
}

.icon {
  margin-right: 5px;
  font-size: 16px;
}