@import "./settings";
@import "./common";

.color {
  background-color: var(--base-color);
  position: fixed;
  width: var(--guide-width);
  top: 80px;
  right: 10px;
  z-index: 1;
  box-shadow: var(--ui-box-shadow);
}

.title {
  @extend oekaki-ui-title
}

.clorPicker {
  margin: 0 auto;
}
