@import "./settings";

.stage {
  background-color: #ccc;

  position: fixed;
  top: var(--header-height);
  right: 0;
  left: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.mini,
.oekaki {
  background-image: linear-gradient(
    45deg,
    #fff 25%,
    transparent 25%,
    transparent 75%,
    #fff 75%,
    #fff
  ),
  linear-gradient(45deg,
    #fff 25%,
    transparent 25%,
    transparent 75%,
    #fff 75%,
    #fff
  );

  box-shadow: var(--ui-box-shadow);
}

.oekaki {
  cursor: crosshair;
  background-position: 0 0, 8px 8px;
  background-size: 16px 16px;
  /*max-width: 500px;*/
  /*max-height: 500px;*/
  /*overflow: auto;*/
}

.mini {
  background-color: #ccc;
  position: fixed;
  top: 10px;
  right: 10px;
  background-position: 0 0, 4px 4px;
  background-size: 8px 8px;
}